@mixin sitefont {
    font-family: $ffamily;
    font-size: $fsize;
    color: $black;
    text-rendering: geometricPrecision;
    -moz-text-rendering: geometricPrecision;
    -webkit-text-rendering: geometricPrecision;
    -ms-text-rendering: geometricPrecision;
    -o-text-rendering: geometricPrecision;
    font-weight: 400;
}

@mixin shadow-bot {
    box-shadow: 0 3px 3px $gray;
    -moz-box-shadow: 0 3px 3px $gray;
    -webkit-box-shadow: 0 3px 3px $gray;
    -ms-box-shadow: 0 3px 3px $gray;
    -o-box-shadow: 0 3px 3px $gray;
}

@mixin transition {
    transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}


// Small devices (landscape phones, 576px to 767px)
@mixin mland {
    @media (min-width:#{$mlandscape-width}) and (max-width:#{$tablet-width - 1}) {
        @content;
    }
}