$pcolor:#830300; //primary color
$scolor:#aa0400; //secondary color
$white:#ffffff; //white color
$black:#000000; //black color
$gray:#9c9c9c; //gray color
$orange:#ffc600; //orange color
$fsize:14px;
$green:green;
$red:red;
$blue:#0b91d7;

//site font 
$ffamily:'Be Vietnam',
sans-serif;


//device breakpoints variblaes
$mobile-widt:320px; //mobile basic breakpoints
$mlandscape-width:576px; //small devices
$tablet-width:768px; //medium devices 
$laptop-width:992px; //large devices 