/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
@import url("https://fonts.googleapis.com/css?family=Be+Vietnam:300,400,500,600&display=swap");
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

body {
  background: #f5f7f8;
  font-family: "Be Vietnam", sans-serif;
  font-size: 14px;
  color: #000000;
  text-rendering: geometricPrecision;
  -moz-text-rendering: geometricPrecision;
  -webkit-text-rendering: geometricPrecision;
  -ms-text-rendering: geometricPrecision;
  -o-text-rendering: geometricPrecision;
  font-weight: 400;
  line-height: 22px;
}

body ul li {
  list-style: none;
}

body .mcontainer {
  width: 96%;
  margin: 0 auto;
}

body .fbold, body header .topheader .header-rt a .value, header .topheader .header-rt a body .value, body header .bottomheader .icomoon, header .bottomheader body .icomoon, body .products-list .item .article .final-price, .products-list .item .article body .final-price, body .products-list .item .article .other-details p span, .products-list .item .article .other-details p body span, body footer .links-div .h5, footer .links-div body .h5 {
  font-weight: 600;
}

body .fthin {
  font-weight: 300;
}

body .fsbold, body .title .h5, body .products-list .product-name, .products-list body .product-name, body .products-list .item .article .oldprice, .products-list .item .article body .oldprice {
  font-weight: 500;
}

body .fred {
  color: #aa0400;
}

body a {
  color: inherit;
  text-decoration: none;
}

body a:hover {
  text-decoration: none;
}

body .titlebg {
  background: #830300;
  padding: 6px;
  color: #ffffff;
  margin: 0;
}

body .title {
  border-radius: 3px;
}

body .title .h5 {
  font-size: 16px;
}

body .title a.all-link {
  background: #aa0400;
  color: #ffffff;
  padding: 2px 5px;
  font-size: 14px;
}

body .title a.all-link:hover {
  background: #6a0200;
}

body p {
  padding-bottom: 15px;
  line-height: 25px;
  text-align: justify;
}

body small {
  line-height: 15px !important;
}

body .cobtn {
  background: #aa0400;
  color: #ffffff;
  padding: 8px 15px;
  text-align: center;
  border-radius: 0;
  border: none;
  border: 1px solid transparent;
}

body .cobtn:hover {
  border: 1px solid #aa0400;
  color: #aa0400;
  background: #ffffff;
}

.fixed-top {
  box-shadow: 0 3px 3px #9c9c9c;
  -moz-box-shadow: 0 3px 3px #9c9c9c;
  -webkit-box-shadow: 0 3px 3px #9c9c9c;
  -ms-box-shadow: 0 3px 3px #9c9c9c;
  -o-box-shadow: 0 3px 3px #9c9c9c;
}

.fixed-top .topheader {
  margin-top: -50px;
}

header {
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

header .topheader {
  background: #830300;
  min-height: 50px;
  padding: 2px 0;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

header .topheader .brand img {
  width: 74px;
}

header .topheader .city {
  color: #ffffff;
  font-size: 13px;
}

header .topheader .header-rt {
  padding-top: 5px;
}

header .topheader .header-rt .icomoon {
  font-size: 20px;
  color: #ffffff;
}

header .topheader .header-rt a {
  padding-left: 15px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
}

header .topheader .header-rt a .value {
  width: 18px;
  height: 18px;
  background: #ffc600;
  position: absolute;
  top: -8px;
  right: -5px;
  border-radius: 50%;
  color: #ffffff;
  text-align: center;
  font-size: 10px;
  line-height: 18px;
}

header .topheader .header-rt .icon-newtruck {
  font-size: 26px;
}

header .bottomheader {
  background: #aa0400;
  padding: 3px 0;
}

header .bottomheader .icomoon {
  color: #ffffff;
  font-size: 22px;
}

header .bottomheader .search-header {
  background: #ffffff;
  border-radius: 2px;
  height: 38px;
  position: relative;
  padding-left: 2px;
  z-index: 9;
}

header .bottomheader .search-header .autocomplete-items {
  background: #ffffff;
  box-shadow: 0 3px 3px #9c9c9c;
  -moz-box-shadow: 0 3px 3px #9c9c9c;
  -webkit-box-shadow: 0 3px 3px #9c9c9c;
  -ms-box-shadow: 0 3px 3px #9c9c9c;
  -o-box-shadow: 0 3px 3px #9c9c9c;
  padding: 15px;
}

header .bottomheader .search-header .autocomplete-items div {
  padding: 5px;
}

header .bottomheader .search-header input {
  height: 38px;
  padding-left: 10px;
  width: 95%;
  border: none;
}

header .bottomheader .search-header input:focus {
  border: none;
  outline: none;
}

header .bottomheader .search-header .icomoon {
  position: absolute;
  top: 12px;
  right: 10px;
  color: #9c9c9c;
  font-size: 16px;
}

main {
  min-height: 500px;
}

.cat-home {
  overflow-x: auto;
}

.cat-home a {
  text-align: center;
  margin: 0 10px;
  padding-bottom: 10px;
}

.cat-home a .icon {
  background: #fff8f8;
  width: 85px;
  height: 85px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  box-shadow: 0 3px 3px #9c9c9c;
  -moz-box-shadow: 0 3px 3px #9c9c9c;
  -webkit-box-shadow: 0 3px 3px #9c9c9c;
  -ms-box-shadow: 0 3px 3px #9c9c9c;
  -o-box-shadow: 0 3px 3px #9c9c9c;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
}

.cat-home a .icon img {
  height: 50px;
  width: 100%;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.cat-home a .link {
  display: block;
  color: #000000;
}

.cat-home a:hover .icon img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.home-carousel {
  margin: 5px 0;
}

.home-carousel .slidericon {
  width: 40px;
  height: 40px;
  background: #000000;
  border-radius: 50%;
  top: 37%;
}

.banners-bottom {
  margin: 12px 0;
}

.banners-bottom a {
  width: 49%;
}

.banners-bottom a img {
  border-radius: 5px;
  box-shadow: 0 3px 3px #9c9c9c;
  -moz-box-shadow: 0 3px 3px #9c9c9c;
  -webkit-box-shadow: 0 3px 3px #9c9c9c;
  -ms-box-shadow: 0 3px 3px #9c9c9c;
  -o-box-shadow: 0 3px 3px #9c9c9c;
  width: 100%;
}

.occasional-categories {
  margin: 15px 0;
}

.occasional-categories .home-category {
  margin-bottom: 20px;
}

.products-list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.products-list .product-name {
  font-size: 15px;
  padding: 5px 0;
  display: inline-block;
}

.products-list .item {
  width: 49%;
  border-radius: 5px;
  position: relative;
  background: #ffffff;
  box-shadow: 0 3px 3px #9c9c9c;
  -moz-box-shadow: 0 3px 3px #9c9c9c;
  -webkit-box-shadow: 0 3px 3px #9c9c9c;
  -ms-box-shadow: 0 3px 3px #9c9c9c;
  -o-box-shadow: 0 3px 3px #9c9c9c;
  margin-bottom: 10px;
}

.products-list .item .figure-img {
  width: 100%;
  position: relative;
}

.products-list .item .figure-img img {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  width: 100%;
}

.products-list .item .figure-img .badge {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 11px;
  border-radius: 0;
}

.products-list .item .article {
  padding: 0 5px;
  text-align: center;
}

.products-list .item .article .final-price {
  font-size: 16px;
  color: #830300;
  padding-bottom: 0px;
}

.products-list .item .article .final-price .icomoon {
  font-size: 16px;
  float: left;
  padding-top: 5px;
}

.products-list .item .article .oldprice {
  font-size: 12px;
  color: #9c9c9c;
  text-decoration: line-through;
  padding-bottom: 0;
}

.products-list .item .article .oldprice .icomoon {
  font-size: 12px;
  float: left;
  padding-top: 7px;
}

.products-list .item .article .other-details {
  border-top: 1px solid #cfcfcf;
  padding: 0 0 10px 0;
  margin-top: 5px;
}

.products-list .item .article .other-details p {
  font-size: 12px;
  color: #9c9c9c;
  padding-bottom: 0;
}

.products-list .item .article .other-details p span {
  color: #aa0400;
}

.about-pints {
  padding: 20px 0;
}

.maccordion .panel-title a {
  border-bottom: none;
  color: #292929;
  display: block;
  padding: 1.25em 1.5em 1.25em 1em;
  position: relative;
  text-decoration: none;
  -webkit-transition: color 200ms ease 0s;
  transition: color 200ms ease 0s;
  width: 100%;
  background: #ffffff;
  box-shadow: 0 3px 3px #9c9c9c;
  -moz-box-shadow: 0 3px 3px #9c9c9c;
  -webkit-box-shadow: 0 3px 3px #9c9c9c;
  -ms-box-shadow: 0 3px 3px #9c9c9c;
  -o-box-shadow: 0 3px 3px #9c9c9c;
  margin-bottom: 5px;
  line-height: 20px;
}

.maccordion .panel-title a .icon {
  color: #000000;
  position: absolute;
  right: 10px;
  top: 31%;
  -webkit-transition: all 200ms ease 0s;
  transition: all 200ms ease 0s;
  font-size: 19px;
}

.maccordion .panel-title a:hover,
.maccordion .panel-title a:focus {
  color: #37474f;
}

.maccordion .panel-title a:hover .icon,
.maccordion .panel-title a:focus .icon {
  color: #ec407a;
}

.maccordion .panel-title a.active {
  color: #37474f;
}

.maccordion .panel-title a.active .icon {
  color: #ec407a;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.maccordion .js .accordion {
  border-bottom: 1px solid #ececec;
  margin: 2em 0;
}

.maccordion .accordion .panel-title a {
  border-top: 1px solid #ececec;
}

.footer-highlets {
  padding: 25px 0;
}

.footer-highlets .feature-col {
  width: 33.3%;
}

.footer-highlets .feature-col .h6 {
  font-size: 14px;
  line-height: 20px;
  padding-top: 10px;
  margin-bottom: 0;
}

.footer-highlets .feature-col .icon {
  background: #aa0400;
  padding: 10px;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  margin: 0 auto;
  text-align: center;
  line-height: 85px;
}

.footer-highlets .feature-col .icon .icomoon {
  font-size: 42px;
  color: #ffffff;
}

footer {
  background: #830300;
  padding-top: 15px;
  color: #ffffff;
  position: relative;
}

footer .links-div {
  padding-bottom: 20px;
}

footer .links-div .h5 {
  border-bottom: 1px solid #ffffff;
  padding-bottom: 10px;
  font-size: 16px;
}

footer .links-div a {
  font-size: 14px;
  margin-bottom: 5px;
  display: inline-block;
}

footer .links-div a:after {
  content: "|";
  padding: 0 6px;
}

footer .links-div a:last-child:after {
  content: "";
}

footer .footer-social a {
  background: #ffffff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: inline-block;
  margin: 0 5px;
}

footer .footer-subscribe input[type="text"] {
  background: #ffffff;
  height: 43px;
  border: none;
  width: 70%;
  padding: 0 10px;
}

footer .footer-subscribe input[type="text"]:focus {
  outline: none;
}

footer .footer-subscribe input[type="submit"] {
  background: #6a0200;
  border: none;
  width: 30%;
  color: #ffffff;
  height: 43px;
}

footer .footer-subscribe input[type="submit"]:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  outline: none;
}

footer .footer-bottom {
  background: #aa0400;
  padding: 10px 0;
  text-align: center;
  color: #ffffff;
}

footer .footer-bottom p {
  padding-bottom: 0;
  margin-bottom: 0;
  text-align: center;
}

footer #move-up {
  background: #ffffff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 54px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  box-shadow: 0 3px 3px #9c9c9c;
  -moz-box-shadow: 0 3px 3px #9c9c9c;
  -webkit-box-shadow: 0 3px 3px #9c9c9c;
  -ms-box-shadow: 0 3px 3px #9c9c9c;
  -o-box-shadow: 0 3px 3px #9c9c9c;
}

footer #move-up .icomoon {
  color: #000000;
  font-size: 19px;
  color: #830300;
}

.overlay {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  opacity: 0;
  display: none;
}

.overlay-active {
  display: block;
  opacity: 1;
  z-index: 999;
}

.active-sidenav {
  left: 0 !important;
}

.sidenav {
  background: #ffffff;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  display: block;
  font-size: 16px;
  font-weight: 400;
  height: 100%;
  left: -100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.sidenav .sidenav-header {
  background: #aa0400;
  padding: 5px 20px;
}

.sidenav .sidenav-header .brandimg img {
  width: 130px;
}

.sidenav .sidenav-header #nav-close {
  color: #ffffff;
}

.sidenav .sidenav-header .icomoon {
  font-size: 28px;
}

.sidenav .sidebody {
  overflow-y: auto;
  height: 100%;
  padding: 15px;
}

.sidenav .sidebody .sidelink {
  font-size: 14px;
  padding: 6px 0;
  display: block;
}

.sidenav .sidebody .accordion .panel-title {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.sidenav .sidebody .accordion .panel-title a {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 8px 0;
  font-size: 14px;
  border-bottom: 1px solid #eee;
}

.sidenav .sidebody .accordion .panel-title a:hover {
  color: #830300;
}

.sidenav .sidebody .accordion .panel-content {
  background: #aa0400;
  padding: 15px;
  font-size: 14px;
}

.sidenav .sidebody .accordion .panel-content ul li a {
  font-size: 14px;
  padding: 6px 20px;
  display: block;
  color: #ffffff;
}

.sidenav .sidebody .navtitle {
  font-size: 16px;
  padding: 10px 0 5px 0;
  margin-bottom: 0;
  color: #aa0400;
}

.sidenav .sidebody .side-list li a {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 8px 0;
  font-size: 14px;
  border-bottom: 1px solid #eee;
  display: block;
}

.citiescovered .modal-header {
  background: #830300;
  color: #ffffff;
}

.citiescovered .modal-header .close {
  color: #ffffff;
  text-shadow: none;
  opacity: 1;
}

.autocomplete input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 8px 10px 12px 10px;
  font-size: 14px;
  border-radius: 0;
}

.autocomplete input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
  height: 50px;
}

.autocomplete input[type=text]:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border: 1px solid #aa0400;
}

.autocomplete input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
}

.autocomplete .autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete .autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.autocomplete .autocomplete-items div:hover {
  background-color: #e9e9e9;
}

.autocomplete .autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.veg {
  padding: 2px;
  border: 1px solid green;
  background: #ffffff;
}

.veg .icomoon {
  color: green;
  font-size: 13px;
}

.nv {
  padding: 2px;
  border: 1px solid red;
  background: #ffffff;
}

.nv .icomoon {
  color: red;
  font-size: 13px;
}

.mbadge {
  position: absolute;
  top: 5px;
  left: 4px;
  font-size: 11px;
  color: #ffffff;
  padding: 3px;
  text-transform: uppercase;
}

.blue-badge {
  background: #0b91d7;
}

.green-badge {
  background: green;
}

.red-badge {
  background: red;
}

.subpage .page-header {
  box-shadow: 0 3px 3px #9c9c9c;
  -moz-box-shadow: 0 3px 3px #9c9c9c;
  -webkit-box-shadow: 0 3px 3px #9c9c9c;
  -ms-box-shadow: 0 3px 3px #9c9c9c;
  -o-box-shadow: 0 3px 3px #9c9c9c;
  background: #ffffff;
  padding: 0 15px;
  height: 50px;
}

.subpage .page-header .h5 {
  font-size: 18px;
  color: #830300;
  text-transform: uppercase;
  margin-bottom: 0;
}

.subpage .page-header .icomoon {
  font-size: 22px;
}

.subpage .subpage-body {
  padding: 15px 0;
}

.modal.left .modal-dialog {
  position: fixed;
  margin: auto;
  width: 320px;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content {
  height: 100%;
  overflow-y: auto;
}

.sortby .form-check {
  padding: 5px 0 5px 1.25rem;
}

.product-detail-slider .thumbs {
  bottom: -12px;
}

.product-detail-slider .thumbs li {
  text-indent: 0;
  width: 75px;
  margin: 0;
}

.product-detail-slider .thumbs li img {
  width: 50px;
}
/*# sourceMappingURL=style.css.map */