@import 'variables';
@import 'mixins';
@import 'reset';

//fonts
@import url('https://fonts.googleapis.com/css?family=Be+Vietnam:300,400,500,600&display=swap');

body {
    background: #f5f7f8;
    @include sitefont;
    line-height: $fsize + 8;

    ul {
        li {
            list-style: none;
        }
    }

    .mcontainer {
        width: 96%;
        margin: 0 auto;
    }

    .fbold {
        font-weight: 600;
    }

    .fthin {
        font-weight: 300;
    }

    .fsbold {
        font-weight: 500;
    }

    .fred {
        color: $scolor;
    }

    a {
        color: inherit;
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
    }

    .titlebg {
        background: $pcolor;
        padding: 6px;
        color: $white;
        margin: 0;
    }

    .title {
        border-radius: 3px;

        .h5 {
            font-size: $fsize + 2;
            @extend .fsbold;
        }

        a.all-link {
            background: $scolor;
            color: $white;
            padding: 2px 5px;
            font-size: $fsize;

            &:hover {
                background: darken($pcolor, 5%);
            }

        }
    }

    p {
        padding-bottom: 15px;
        line-height: 25px;
        text-align: justify;
    }

    small {
        line-height: 15px !important;
    }

    .cobtn {
        background: $scolor;
        color: $white;
        padding: 8px 15px;
        text-align: center;
        border-radius: 0;
        border: none;
        border: 1px solid transparent;

        &:hover {
            border: 1px solid $scolor;
            color: $scolor;
            background: $white;
        }
    }
}


.fixed-top {
    @include shadow-bot;

    .topheader {
        margin-top: -50px;
    }
}

//header starts
header {
    @include transition;

    //to header 
    .topheader {
        background: $pcolor;
        min-height: 50px;
        padding: 2px 0;
        @include transition;

        .brand {
            img {
                width: 74px;
            }
        }

        .city {
            color: $white;
            font-size: $fsize - 1;
        }

        .header-rt {
            padding-top: 5px;

            .icomoon {
                font-size: $fsize + 6;
                color: $white;
            }

            a {
                padding-left: 15px;
                align-self: center;
                position: relative;

                .value {
                    width: 18px;
                    height: 18px;
                    background: $orange;
                    position: absolute;
                    top: -8px;
                    right: -5px;
                    border-radius: 50%;
                    color: $white;
                    text-align: center;
                    font-size: $fsize - 4;
                    line-height: 18px;
                    @extend .fbold;
                }
            }

            .icon-newtruck {
                font-size: $fsize + 12;
            }
        }
    }

    //top header ends 

    //bottom header 
    .bottomheader {
        background: $scolor;
        padding: 3px 0;

        .icomoon {
            color: $white;
            font-size: $fsize + 8;
            @extend .fbold;
        }

        .search-header {
            background: $white;
            border-radius: 2px;
            height: 38px;
            position: relative;
            padding-left: 2px;
            z-index:9;

            .autocomplete-items {
                background: $white;
                @include shadow-bot;
                padding: 15px;

                div {
                    padding: 5px;
                }
            }

            input {
                height: 38px;
                padding-left: 10px;
                width: 95%;
                border: none;

                &:focus {
                    border: none;
                    outline: none;
                }
            }

            .icomoon {
                position: absolute;
                top: 12px;
                right: 10px;
                color: $gray;
                font-size: $fsize + 2;
            }
        }
    }

    //bottom header 
}

//header ends 

main {
    min-height: 500px;
}

//main
//categories 
.cat-home {
    overflow-x: auto;

    a {
        text-align: center;
        margin: 0 10px;
        padding-bottom: 10px;

        .icon {
            background: lighten($pcolor, 73%);
            width: 85px;
            height: 85px;
            text-align: center;
            display: flex;
            border-radius: 50%;
            @include shadow-bot;
            align-items: center;
            margin-bottom: 5px;

            img {
                height: 50px;
                width: 100%;
                @include transition;
            }
        }

        .link {
            display: block;
            color: $black;
        }

        &:hover {
            .icon {
                img {
                    transform: scale(1.1);
                }
            }
        }
    }
}

//categories 

//carousel
.home-carousel {
    margin: 5px 0;

    .slidericon {
        width: 40px;
        height: 40px;
        background: $black;
        border-radius: 50%;
        top: 37%;
    }
}

//carousel 

//banners
.banners-bottom {
    margin: 12px 0;

    a {
        width: 49%;

        img {
            border-radius: 5px;
            @include shadow-bot;
            width: 100%;
        }
    }
}

//banners
.occasional-categories {
    margin: 15px 0;

    .home-category {
        margin-bottom: 20px;
    }
}

//products list item
.products-list {
    flex-wrap: wrap;

    .product-name {
        font-size: $fsize + 1;
        padding: 5px 0;
        @extend .fsbold;
        display: inline-block;
    }

    .item {
        width: 49%;
        border-radius: 5px;
        position: relative;
        background: $white;
        @include shadow-bot;
        margin-bottom: 10px;

        .figure-img {
            width: 100%;
            position: relative;

            img {
                border-top-right-radius: 5px;
                border-top-left-radius: 5px;
                width: 100%;
            }

            .badge {
                position: absolute;
                top: 5px;
                right: 5px;
                font-size: $fsize - 3;
                border-radius: 0;
            }
        }

        .article {
            padding: 0 5px;
            text-align: center;

            .final-price {
                font-size: $fsize + 2;
                color: $pcolor;
                @extend .fbold;
                padding-bottom: 0px;

                .icomoon {
                    font-size: $fsize + 2;
                    float: left;
                    padding-top: 5px;
                }
            }

            .oldprice {
                font-size: $fsize - 2;
                color: $gray;
                @extend .fsbold;
                text-decoration: line-through;
                padding-bottom: 0;

                .icomoon {
                    font-size: $fsize - 2;
                    float: left;
                    padding-top: 7px;
                }
            }

            .other-details {
                border-top: 1px solid lighten($gray, 20%);
                padding: 0 0 10px 0;
                margin-top: 5px;

                p {
                    font-size: $fsize - 2;
                    color: $gray;
                    padding-bottom: 0;

                    span {
                        color: $scolor;
                        @extend .fbold;
                    }
                }
            }
        }
    }
}

//product list item 

.about-pints {
    padding: 20px 0;
}

//accordion strts
.maccordion {
    .panel-title a {
        border-bottom: none;
        color: #292929;
        display: block;
        padding: 1.25em 1.5em 1.25em 1em;
        position: relative;
        text-decoration: none;
        -webkit-transition: color 200ms ease 0s;
        -moz-transition: color 200ms ease 0s;
        transition: color 200ms ease 0s;
        width: 100%;
        background: $white;
        @include shadow-bot;
        margin-bottom: 5px;
        line-height: 20px;
    }

    .panel-title a .icon {
        color: $black;
        position: absolute;
        right: 10px;
        top: 31%;
        -webkit-transition: all 200ms ease 0s;
        -moz-transition: all 200ms ease 0s;
        transition: all 200ms ease 0s;
        font-size: $fsize + 5;
    }

    .panel-title a:hover,
    .panel-title a:focus {
        color: #37474f;
    }

    .panel-title a:hover .icon,
    .panel-title a:focus .icon {
        color: #ec407a;
    }

    .panel-title a.active {
        color: #37474f;
    }

    .panel-title a.active .icon {
        color: #ec407a;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .js .accordion {
        border-bottom: 1px solid #ececec;
        margin: 2em 0;
    }

    .accordion .panel-title a {
        border-top: 1px solid #ececec;
    }
}

//accordion ends 
.footer-highlets {
    padding: 25px 0;

    .feature-col {
        width: 33.3%;

        .h6 {
            font-size: $fsize;
            line-height: 20px;
            padding-top: 10px;
            margin-bottom: 0;
        }

        .icon {
            background: $scolor;
            padding: 10px;
            width: 85px;
            height: 85px;
            border-radius: 50%;
            margin: 0 auto;
            text-align: center;
            line-height: 85px;

            .icomoon {
                font-size: $fsize * 3;
                color: $white;
            }
        }
    }
}

//footer styles 
footer {
    background: $pcolor;
    padding-top: 15px;
    color: $white;
    position: relative;

    .links-div {
        padding-bottom: 20px;

        .h5 {
            border-bottom: 1px solid $white;
            padding-bottom: 10px;
            font-size: $fsize + 2;
            @extend .fbold;
        }

        a {
            font-size: $fsize;
            margin-bottom: 5px;
            display: inline-block;

            &:after {
                content: "|";
                padding: 0 6px;
            }

            &:last-child {
                &:after {
                    content: "";
                }
            }
        }
    }

    .footer-social {
        a {
            background: $white;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            display: inline-block;
            margin: 0 5px;
        }
    }

    .footer-subscribe {

        input[type="text"] {
            background: $white;
            height: 43px;
            border: none;
            width: 70%;
            padding: 0 10px;

            &:focus {
                outline: none;
            }
        }

        input[type="submit"] {
            background: darken($pcolor, 5%);
            border: none;
            width: 30%;
            color: $white;
            height: 43px;

            &:focus {
                box-shadow: none;
                border: none;
                outline: none;
            }
        }
    }

    .footer-bottom {
        background: $scolor;
        padding: 10px 0;
        text-align: center;
        color: $white;

        p {
            padding-bottom: 0;
            margin-bottom: 0;
            text-align: center;
        }
    }

    #move-up {
        background: $white;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        display: inline-block;
        text-align: center;
        line-height: 54px;
        position: absolute;
        bottom: 10px;
        right: 10px;
        @include shadow-bot;

        .icomoon {
            color: $black;
            font-size: $fsize + 5;
            color: $pcolor;
        }
    }
}

//footer styles ends 
.overlay {
    background: rgba(0, 0, 0, .8);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    opacity: 0;
    display: none;
}

.overlay-active {
    display: block;
    opacity: 1;
    z-index: 999;
}

//sidenavbar
.active-sidenav {
    left: 0 !important;
}

.sidenav {
    background: $white;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .3);
    display: block;
    font-size: 16px;
    font-weight: 400;
    height: 100%;
    left: -100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    @include transition;

    .sidenav-header {
        background: $scolor;
        padding: 5px 20px;

        .brandimg {
            img {
                width: 130px;
            }
        }

        #nav-close {
            color: $white;
        }

        .icomoon {
            font-size: $fsize * 2;
        }
    }

    .sidebody {
        overflow-y: auto;
        height: 100%;
        padding: 15px;

        .sidelink {
            font-size: $fsize;
            padding: 6px 0;
            display: block;

        }

        .accordion {
            .panel-title {
                box-shadow: none;

                a {
                    border: none;
                    box-shadow: none;
                    padding: 8px 0;
                    font-size: $fsize;
                    border-bottom: 1px solid #eee;

                    &:hover {
                        color: $pcolor;
                    }
                }
            }

            .panel-content {
                background: $scolor;
                padding: 15px;
                font-size: $fsize;

                ul {
                    li {
                        a {
                            font-size: $fsize;
                            padding: 6px 20px;
                            display: block;
                            color: $white;
                        }
                    }
                }
            }
        }

        .navtitle {
            font-size: $fsize + 2;
            padding: 10px 0 5px 0;
            margin-bottom: 0;
            color: $scolor;
        }

        .side-list {
            li {
                a {
                    border: none;
                    box-shadow: none;
                    padding: 8px 0;
                    font-size: $fsize;
                    border-bottom: 1px solid #eee;
                    display: block;
                }
            }
        }
    }
}

.citiescovered {
    .modal-header {
        background: $pcolor;
        color: $white;

        .close {
            color: $white;
            text-shadow: none;
            opacity: 1;
        }
    }    
}

.autocomplete {
    input {
        border: 1px solid transparent;
        background-color: #f1f1f1;
        padding: 8px 10px 12px 10px;
        font-size: $fsize;
        border-radius: 0;
    }

    input[type=text] {
        background-color: #f1f1f1;
        width: 100%;
        height: 50px;

        &:focus {
            box-shadow: none;
            border: 1px solid $scolor;
        }
    }

    input[type=submit] {
        background-color: DodgerBlue;
        color: #fff;
        cursor: pointer;
    }

    .autocomplete-items {
        position: absolute;
        border: 1px solid #d4d4d4;
        border-bottom: none;
        border-top: none;
        z-index: 99;
        /*position the autocomplete items to be the same width as the container:*/
        top: 100%;
        left: 0;
        right: 0;
    }

    .autocomplete-items div {
        padding: 10px;
        cursor: pointer;
        background-color: #fff;
        border-bottom: 1px solid #d4d4d4;
    }

    .autocomplete-items div:hover {
        background-color: #e9e9e9;
    }

    .autocomplete-active {
        background-color: DodgerBlue !important;
        color: #ffffff;
    }
}

.veg {
    padding: 2px;
    border: 1px solid $green;
    background: $white;

    .icomoon {
        color: $green;
        font-size: $fsize - 1;
    }
}

.nv {
    padding: 2px;
    border: 1px solid $red;
    background: $white;

    .icomoon {
        color: $red;
        font-size: $fsize - 1;
    }
}

.mbadge {
    position: absolute;
    top: 5px;
    left: 4px;
    font-size: $fsize - 3;
    color: $white;
    padding: 3px;
    text-transform: uppercase;
}

.blue-badge {
    background: $blue;
}

.green-badge {
    background: $green;
}

.red-badge {
    background: $red;
}

.subpage {
    .page-header {
        @include shadow-bot;
        background: $white;
        padding: 0 15px;
        height: 50px;

        .h5 {
            font-size: $fsize + 4;
            color: $pcolor;
            text-transform: uppercase;
            margin-bottom: 0;
        }

        .icomoon {
            font-size: $fsize + 8;
        }
    }

    //sub page body 
    .subpage-body {
        padding: 15px 0;
    }

    //sub page body 
}

.modal.left .modal-dialog {
    position: fixed;
    margin: auto;
    width: 320px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content {
    height: 100%;
    overflow-y: auto;
}

.sortby {
    .form-check {
        padding: 5px 0 5px 1.25rem;
    }
}

.product-detail-slider{
  
    .thumbs{       
        bottom:-12px;
        li{
            text-indent: 0;
            width:75px;
            margin:0;
            img{
                width:50px;
            }
        }
    }
}